*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ffffff;
  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@import '../styles/animations.css';
